@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 20px 100px 80px 180px;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

p.header-text {
    font-size: 18px;
    color: #e5e7eb;
}

.btn1 {
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: 6px;
    padding: 8px 20px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 30px;
}

nav ul {
    display: flex;
    gap: 18px;
    justify-content: flex-end;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

h1,
nav {
    margin-bottom: 80px;
}

.header-left-bottom {
    margin-right: 55px;
}

.first-section h3 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 35px 0;
    display: flex;
    justify-content: center;
}


